<ion-header>
  <ion-navbar>
    <ion-title>
      Details
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
  <ion-item *ngFor="let key of Keys" ng-if="Details">
    {{key}} : {{ Details[key] }}
  </ion-item> 
  <ion-item ng-if="!Details">
      No information Found.
  </ion-item>
</ion-list>
</ion-content>